* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.show-area {
    height: 90%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.setting-area {
    border-top: 1px solid #cccccc;
    height: 10%;
    padding: 0 20px;
}

.sort-item-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
}

.sort-item {
    width: 1%;
    margin-left: 5px;
    background-color: #cccccc;
    color: #cccccc;
    font-size: 1px;
}

